<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <title>Index</title>
        <style>
            *{
                padding: 0px;
                margin: 0px;
                outline: 1px dotted grey;
            }
            #ct{
                padding: 1.25em;
                margin: 1.25em auto;
                width: 90%;
                height: auto;
                outline: 1px dotted grey;
            }
        </style>
        <script type="text/javascript">

        </script>
    </head>
    <body>
        <div id="ct">
            <div class="box">
                
            </div>
        </div>
    </body>
</html>
